* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

/* section 01*/

nav {
  width: 80%;
  /* height: 60px; */
  /* background-color: orangered; */
  margin: 4vh auto;
  display: flex;
}

.left-nav {
  width: 50%;
  display: flex;
  color: white;
  /* background-color: aqua; */
  align-items: center;
  gap: 16px;
}

.hero-logo {
  color: #131318;
}

.left-nav h1 {
  font-size: 40px;
  color: #ff5400;
  font-weight: 800;
}

.right-nav {
  width: 50%;
  color: white;
  /* background-color: rgb(0, 0, 0); */
}

/*dropdown menu*/

.right-nav ul {
  display: flex;
  /* background-color: #FF5400; */
  justify-content: space-between;
  margin: 3vh 0;
}

.right-nav ul li {
  list-style: none;
}

.right-nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #424247;
  font-weight: 600;
}

.right-nav .home-color {
  color: #ff5400;
}

/*hero-container*/

.hero-container {
  width: 80%;
  margin: auto;
  background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
  text-align: center;
  justify-content: center;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 4vw;
}

.bg-img {
  width: 100%;
  height: auto;
  background-color: #00000086;
  border-radius: 16px;
}

.hero-text {
  /* background-color: #ff5400; */
  padding: 5vw 15vw;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  font-size: 68px;
  font-weight: 800;
  color: white;
  padding-bottom: 2.5vw;
}

.hero-text p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  /* padding: 2vw; */
  margin-bottom: 5vw;
}

.hero-button {
  background-color: rgba(255, 255, 255, 0.342);
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 16px;
  margin-bottom: 4vh;
}

.hero-button input {
  width: 180px;
  height: 60px;
  background-color: #fefeff;
  color: rgba(19, 19, 24, 0.5);
  border: none;
  margin: 2vh 0.3vw;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.hero-button .button-1 {
  padding-left: 1vw;
}

.hero-button .button-2 {
  background-color: #ff5400;
  color: #fefeff;
}

.hero-button .button-2:hover {
  cursor: pointer;
  background-color: #ff7700;
}

/*section 02*/

.section-2 {
  /* background-color: aqua; */
  width: 80%;
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 4vw;
}

.section-2-text {
  width: 100%;
  /* height: 100%; */
  /* background-color: #9f9fff; */
  margin-right: 2vw;
  margin-bottom: 4vw;
}

.section-2-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: #131318;
  margin-bottom: 2vw;
}

.section-2-text p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 2vw;
}

.section-2-text ul {
  padding-left: 2vw;
}
.section-2-text ul li {
  font-size: 18px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 2vw;
}

.read-button {
  width: 200px;
  height: 60px;
  background-color: #ff7700;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 22px;
  font-weight: 800;
}

.section-2-img {
  /* background-color: #ff5400; */
  width: 100%;
  min-height: 650px;
  background-image: url(Images/Rectangle\ 4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.section-2-img img {
  width: 100%;
  height: 100%;
}

/*section 03*/

.section-3 {
  width: 80%;
  height: auto;
  /* background-color: #ff7700; */
  margin: auto;
  text-align: center;
}

.section-3-text h1 {
  font-size: 45px;
  font-weight: 800;
  color: #131318;
  margin-bottom: 1vw;
}

.section-3-text p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  padding: 0 10vw;
  padding-bottom: 3vw;
}

.section-3-img-1 {
  /* background-color: aqua; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.box-1 {
  width: 49%;
  height: 100%;
  background-color: crimson;
  background-image: url(Images/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-2 {
  width: 49%;
  height: 100%;
  background-color: rgb(106, 76, 82);
  background-image: url(Images/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-3-img-2 {
  /* background-color: rgb(0, 102, 102); */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}

.box-3 {
  width: 32%;
  height: 100%;
  background-color: rgb(15, 125, 0);
  background-image: url(Images/Rectangle\ 6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-4 {
  width: 32%;
  height: 100%;
  background-color: rgb(255, 84, 118);
  background-image: url(Images/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-5 {
  width: 32%;
  height: 100%;
  background-color: rgb(149, 0, 30);
  background-image: url(Images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-3-img-3 {
  /* background-color: rgb(1, 21, 21); */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.box-6 {
  width: 39%;
  height: 100%;
  background-color: rgb(255, 84, 118);
  background-image: url(Images/Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-7 {
  width: 59%;
  height: 100%;
  background-color: rgb(149, 0, 30);
  background-image: url(Images/Rectangle\ 11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
h2 {
  border-radius: 16px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
  padding-top: 4vw;
}

/*section 4*/

.icon-img{
  width: 100px;
  height: 100px;
}

.section-4-top{
  text-align: center;
  width: 80%;
  margin: auto;
  /* background-color: #3838f9; */
}
.section-4-top h1{
  font-size: 40px;
  font-weight: 800;
  color: #131318;
}

.section-4-top p{
  font-size: 18px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.70);
  padding: 2vw 8vw;
}

.section-4-bottom-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2vw;
}

.section-4-bottom-1,
.section-4-bottom-2, h1{
  font-size: 28px;
  font-weight: 800;
  color: #131318;
  margin-bottom: 1vw;
}

.section-4-bottom-1,
.section-4-bottom-2 p{
  font-size: 18px;
  font-weight: 400;
  color: #5A5A5D;
}

.bottom-left-img,
.bottom-right-img,
.bottom-4-img{
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin-bottom: 1vw;
}

.section-4-bottom-left{
  width: 600px;
  height: 300px;
  background-color: rgba(251, 181, 99, 0.05);
  border-radius: 16px;
  padding: 2vw 2vw;
}

.section-4-bottom-right{
  width: 600px;
  height: 300px;
  background-color: rgba(41, 206, 246, 0.05);
  border-radius: 16px;
  padding: 2vw 02vw;
}

.section-4-bottom-2{
  width: 600px;
  height: 300px;
  background-color: rgba(251, 181, 99, 0.05);
  justify-content: center;
  margin: 0 auto;
  border-radius: 16px;
  padding: 2vw 2vw;
  margin-bottom: 4vw;

}

/*section 05 text*/

.section-5-text{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4vw;
}

.section-5-text h1{
  font-size: 45px;
  font-weight: 800;
  color: #131318;
}

.section-5-text p{
  font-size: 18px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.70);
}

/*section 05* ------- section 07------img*/
 
.section-5-img{
  width: 80%;
  height: auto;
  background-image: url(Images/Group\ 39.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 4vw;
  padding-bottom: 5vw;
  border-radius: 16px;
}

.section-5-img-text{
  display: flex;
  /* background-color: brown; */
  position: relative;
  top: 130px;
  left: 610px;
  z-index: 500;
}
.section-5-img-text>.frame-1, .frame-2, .frame-3{
  display: flex;
  margin-right: 1vw;
}

.section-5-img-text .f-1, .f-2, .f-3{
  margin-right: .5vw;
}
.section-5-text-2{
  background-color: rgba(255, 255, 255, 0.587);
  width: 600px;
  height: 400px;
  padding: 4vw 4vw;
  margin: 2vw 35vw;
  border-radius: 16px;
  backdrop-filter: blur(2.5px);
  
}

.section-5-text-2 h1{
  font-size: 24px;
  font-weight: 800;
  color: #131318;
  margin-top: 3vw;
}

.section-5-text-2 p{
  font-size: 18px;
  font-weight: 400;
  color:#5A5A5D;
}

.section-5-text-2 .price{
  color: #ff7700;
  margin-top: 1vw;
}

.section-5-text-2>button{
  color: #ffffff;
  background-color: #ff7700;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 16px;
  padding: 15px 40px;
  margin-bottom: 5vw;
}

/*section 06*/

.section-6-img{
  width: 80%;
  height: auto;
  background-image: url(Images/Group\ 40.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 4vw;
  padding-bottom: 5vw;
  border-radius: 16px;
}

.section-6-img-text{
  display: flex;
  /* background-color: brown; */
  position: relative;
  top: 130px;
  right: -155px;
  z-index: 500;
}
.section-6-img-text>.frame-1, .frame-2, .frame-3{
  display: flex;
  margin-right: 1vw;
}

.section-6-img-text .f-1, .f-2, .f-3{
  margin-right: .5vw;
}
.section-6-text-2{
  background-color: rgba(255, 255, 255, 0.587);
  width: 600px;
  height: 400px;
  padding: 4vw 4vw;
  margin: 2vw 6vw;
  border-radius: 16px;
  backdrop-filter: blur(2.5px);
  
}

.section-6-text-2 h1{
  font-size: 24px;
  font-weight: 800;
  color: #131318;
  margin-top: 3vw;
}

.section-5-text-2 p{
  font-size: 18px;
  font-weight: 400;
  color:#5A5A5D;
}

.section-6-text-2 .price{
  color: #ff7700;
  margin-top: 1vw;
}

.section-6-text-2>button{
  color: #ffffff;
  background-color: #ff7700;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 16px;
  padding: 15px 40px;
  margin-bottom: 5vw;
}

/*section 08 */

.only-button{
  width: 80%;
  /* background-color: #ff7700; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4vw;
}

.only-button input{
  background-color: #ff7700;
  padding: 15px 45px;
  border: none;
  color: white;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 400;
}

/*section 08-text*/
 .section-8{
  width: 80%;
  /* background-color: brown; */
  margin: 0 auto;
  display: flex;
  margin-bottom: 4vw;
 }

 .section-8-text{
  width: 50%;
  /* background-color: #5A5A5D; */
 }

.section-8-text h1{
  font-size: 45px;
  font-weight: 800;
  color: #131318;
  margin-bottom: 2vw;
}
.section-8-text p{
  font-size: 20px;
  font-weight: 400;
  color: #5A5A5D; 
  margin-bottom: 2vw;
}

.section-8-text ul li{
  margin-left: 30px;
  margin-bottom: 2vw;
}

.section-8-img{
  width: 50%;
  background-image: url(Images/Group\ 40089.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 16px;
}

.section-8-img h1{
  margin: 12vw 6vw;
  color: white;
  font-size: 26px;
}




/* Responsive------------------------------------- */

@media screen and (max-width: 550px) {
  .left-nav h1 {
    font-size: 20px;
    font-weight: 800;
  }

  .left-nav img {
    width: 40px;
    height: 40px;
  }

  .right-nav {
    display: none;
  }

  /*hero-section*/

  .hero-text {
    /* background-color: #ff5400; */
    padding: 5vw 6vw;
    justify-content: center;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 25px;
  }
  .hero-text p {
    font-size: 15px;
    line-height: 25px;
  }

  .hero-button input {
    width: 320px;
    height: 60px;
    font-size: 18px;
    margin: 3vw 0;
  }

  /*section 02*/

  .section-2-text h1 {
    font-size: 25px;
    font-weight: 800;
  }

  .section-2-text p {
    font-size: 18px;
    font-weight: 400;
  }

  .section-2 {
    flex-direction: column;
  }

  .section-2-img {
    /* background-color: #ff5400; */
    width: 100%;
    min-height: 450px;
  }

  /*section 3*/

  .section-3-text h1 {
    font-size: 22px;
  }
  .section-3-text p {
    font-size: 16px;
  }

  .section-3-img-1,
  .section-3-img-2,
  .section-3-img-3{
    flex-direction: column;
  }
  
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7{
  width: 400px;
  height: 180px;
  text-align: center;
  margin-bottom: 10px;
}
.section-3-img-1,
.section-3-img-2,
.section-3-img-3{
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
h2{
  font-size: 20px;
  padding-top: 20px;
}


/*section 4*/
.section-4-bottom-1{
  flex-direction: column;
}

.section-4-bottom-left,
.section-4-bottom-right,
.section-4-bottom-2{
  width: 400px;
  height: 350px;
  padding: 4vw;
}

/*section 05 06 07 -----without responsive*/


/*section 08*/

.section-8{
  flex-direction: column;
}

.section-8-text{
  width: 100%;
}
.section-8-img{
  width: 100%;
}

.section-8-text h1{
  font-size: 25px;
}
.section-8-text p{
  font-size: 18px;
}


}
