* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  width: 80%;
  /* height: 60px; */
  /* background-color: orangered; */
  margin: 4vh auto;
  display: flex;
}

.left-nav {
  width: 50%;
  display: flex;
  color: white;
  /* background-color: aqua; */
  align-items: center;
  gap: 16px;
}

.hero-logo {
  color: #131318;
}

.left-nav h1 {
  font-size: 40px;
  color: #ff5400;
  font-weight: 800;
}

.right-nav {
  width: 50%;
  color: white;
  /* background-color: rgb(0, 0, 0); */
}

/*dropdown menu*/


.right-nav ul {
  display: flex;
  /* background-color: #FF5400; */
  justify-content: space-between;
  margin: 3vh 0;
}

.right-nav ul li {
  list-style: none;
}

.right-nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #424247;
  font-weight: 600;
}

.right-nav .home-color{
    color: #ff5400;
}

/*hero-container*/

.hero-container{
    width: 80%;
    margin: auto;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    justify-content: center;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.bg-img{
    width: 100%;
    height: auto;
    background-color: #00000086;
    border-radius: 16px;
}

.hero-text{
    /* background-color: #ff5400; */
    padding: 5vw 15vw;
    justify-content: center;
    align-items: center;
}

.hero-text h1{
    font-size: 68px;
    font-weight: 800;
    color: white;
    padding-bottom: 2.5vw;
}

.hero-text p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    /* padding: 2vw; */
    margin-bottom: 5vw;
}

.hero-button{
  background-color: rgba(255, 255, 255, 0.342);
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 16px;
  margin-bottom: 4vh;
}

.hero-button input{
  width: 180px;
  height: 60px;
  background-color: #fefeff;
  color: rgba(19, 19, 24, 0.50);
  border: none;
  margin: 2vh .3vw;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.hero-button .button-1{
  padding-left: 1vw;
}

.hero-button .button-2{
  background-color: #ff5400;
  color: #fefeff;
}

.hero-button .button-2:hover{
  cursor: pointer;
  background-color: #ff7700;
}


/* media quarey */

@media screen and (max-width: 550px) {
  .left-nav h1 {
    font-size: 20px;
    font-weight: 800;
  }

  .left-nav img{
    width: 40px;
    height: 40px;
  }

  .right-nav{
    display: none;
  }
  .hero-text{
    /* background-color: #ff5400; */
    padding: 5vw 6vw;
    justify-content: center;
    align-items: center;
}

   .hero-text h1{
    font-size: 25px;
   }
   .hero-text p{
    font-size: 15px;
    line-height: 25px;
   }
 
   .hero-button input{
    width: 320px;
    height: 60px;
    font-size: 18px;
    margin: 3vw 0;
  }


}

